@{
    ViewBag.Title = "Failure";
}

@{
    Layout = "~/Views/Shared/LayoutOther.cshtml";
}

<div class="col-xs-9">
    <br />
    <br />
    <div>
        <h2>OOPs!! NOT DONE :(</h2>
        <br />
        <br />
        <br />
    </div>
</div>