@{
    ViewBag.Title = "About Us";
}
@{
    Layout = "~/Views/Shared/layout.cshtml";
}


<div class="col-xs-9">
    <br />
    <br />
    <div class="navbar navbar-default">
        <h2>LARGEST SELLING AND BUYING SITE...</h2>
    </div>


    <div>
        <br />
        <h4>A website for selling and buying things like cars, mobiles,laptops at one platform without any extra cost...</h4>
        <h2>Project Of Saqib Mirza</h2>
    </div>
</div>
