@{
    ViewBag.Title = "Blocked";
}

@{
    Layout = "~/Views/Shared/LayoutOther.cshtml";
}

<div class="col-xs-9">
    <br />
    <br />
    <div>
        <h2>Your account has been blocked by Administrator.</h2>
        <h2>For more info email "edeal@gmail.com"</h2>
        <br />
        <br />
        <br />
    </div>
</div>