@model Project_Ead_EDEAL.Models.SuperUser
@{
    ViewBag.Title = "Login";
}
@{
    Layout = "~/Views/Shared/LayoutOther.cshtml";
}


<div class="col-xs-6">
    <br />
    <br />
    <div>
        <h2>LARGEST SELLING AND BUYING SITE...LOGIN </h2>
        <br />
        <br />
        <br />
    </div>

    <div>
        <form style="margin-left:150px;" method="post" action="/SuperUser/ValidateUser">
           
            <div class="form-group " >
                @Html.TextBoxFor(u => u.Email, new {@class="form-control input-lg",@required="required",Type="Email",placeholder="Email"})               
            </div>
            <div class="form-group">
                @Html.TextBoxFor(u => u.Password, new {@class="form-control input-lg",@required="required",Type="Password",placeholder="Password"})
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Sign In</button>

            </div>
               
        </form>

    </div>
</div>
