@{
    ViewBag.Title = "Success";
}

@{
    Layout = "~/Views/Shared/LayoutOther.cshtml";
}

<div class="col-xs-9">
    <br />
    <br />
    <div>
        <h2>SUCCESSFULLY ADDED :) </h2>
        <br />
        <br />
        <br />
    </div>
</div>